<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted">LOREM IPSUM.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/education-1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2021</h4>
                                    <h4 class="subheading">University of Warwick</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Erasmus L3 LEMA exchange student.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/education-2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Sorbonne University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">L2 LEMA</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/education-3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Khâgne Moderne (Lycée Fénelon)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Modern litterature speciality.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/education-3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Hypokhâgne (Lycée Fénelon)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <ul>
                                            <li>Option Grec Ancien</li>
                                            <li>Langues : Anglais, Chinois</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/education-4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2017</h4>
                                    <h4 class="subheading">Lycée Galilée</h4>
                                    <p class="text-muted">
                                        Baccalauréat Economique et Social, mention Bien
                                        <ul>
                                            <li>Spécialité Mathématiques</li>
                                            <li>Option : Chinois</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>