<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Here are some of the projects I have been involved in.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Unity First-person shooter in C#</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first year at Epita, I worked on a unity game called "Salty Team". It is a Battle Royale in a maze. I was responsible for the gameplay and the network.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Optical Character Recognition in C</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I implemented the image processing part of the program. So I had to split the text, resize each letter and send these letters to our neural network.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Posix Shell in C</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My job for this project was to implement the parser to build the Abstract Syntax Tree, to traverse it in order to execute the commands and to deal with file descriptor redirections. I also created a second parser for the arithmetic expressions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Tiger Compiler in C++</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We implemented the front-end of a Tiger compiler. I mainly worked on the Abstract Syntax Tree, the binding phase and the translation to a High Intermediate Representation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Currently Working On</h4>
                                    <h4 class="subheading">Chess game with an integrated AI in C++</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>